version: "3.8"
services:
  app:
    image: maven:3.9.5-eclipse-temurin-21
    container_name: spring-app-dev
    working_dir: /app
    volumes:
      - ./:/app
      - ~/.m2:/root/.m2   # cache maven repos on host
    ports:
      - "8080:8080"
    command: mvn -f /app/pom.xml -Dspring-boot.run.fork=false spring-boot:run
